numpy
pandas
scipy
matplotlib
seaborn
tqdm
joblib
fastapi
opencv-python
opencv-contrib-python
Pillow
scikit-image
tf-keras
torch
torchvision
tensorflow>=2.14
tensorflow-datasets

facenet-pytorch
deepface
mtcnn
insightface
PyMuPDF
python-docx
python-multipart
optuna
xgboost
ultralytics
uvicorn
